@tailwind base;
@tailwind components;
@tailwind utilities;


.primary{
    background-color: #4078FF;
}

.secondary{
    background-color: #0E1422;
}

.image{   
    background-image:url('../public/images/Search_icon.png');
    background-repeat:no-repeat;
    background-position:left;
    padding-left:25px;
}

.text-secondary{
    color: #202533;
}

.max-h-100{
    max-height: 450px;
    height: 385px;
}

.footer-border{
    border-top: solid 1px gray;
}

.height{
    height: 550px;
}

.width{
    width: 550px;
}

.max-width{
    max-width: 790px;
}